.footer{
    $c: &;

    @apply flex pt-2 mb-1 text-white justify-between;
    transition: all 0.8s ease-in-out;

    &__col{
        @apply inline-block;
        transition: all 0.8s ease-in-out;
    }

    &__col-separator{
        @apply block bg-white mt-1 mb-2;
        width: 1px;
    }

    &__link, &__label{
        @apply text-white;
    }

    &--home{
        @apply text-grey justify-around;
        transition: all 0.8s ease-in-out;

        #{$c}__col-separator{
            @apply bg-grey;
        }
            
        #{$c}__link{
            @apply text-grey;
        }
    
        #{$c}__label{
            @apply text-grey;
        }

    }
}