{{define "base"}}
<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', '');</script>
    <!-- End Google Tag Manager -->
    <title>{{.HeaderTitle}}</title>
    <link href="https://fonts.googleapis.com/css?family=Dosis:400,600" rel="stylesheet">
    <link rel="stylesheet" href="static/main.css">
    <script src="static/main.js"></script>
    <script>
        window.addEventListener("load", function () {
            window.cookieconsent.initialise({
                "palette": {
                    "popup": {
                        "background": "#222f3e"
                    },
                    "button": {
                        "background": "#2e86de"
                    }
                },
                "theme": "classic",
                "content": {
                    "message": "This website uses cookies to optimise your user experience. We are required by law to inform you of this. Would you like to know more about cookies?",
                    "link": "If so, click here.",
                    "href": "/disclaimer"
                }
            })
        });
    </script>
</head>

<body class="bg-grey-light text-black">
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    {{ template "content" . }}
</body>

<footer class="font-sans p-4 flex flex-wrap">
    <span>© Johan Hoste</span>
    <span class="pl-2 pr-2">&VerticalSeparator;</span>
    <a href="/disclaimer" class="link">
        <span>Disclaimer</span>
    </a>
</footer>

</html>
{{end}}